.Modal {
    width: 250px;
    position: fixed;
    left: calc(50% - 125px);
    top: 30%;
    z-index: 2;
    padding: 10px 0px;
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    background-color: white;
}

.Dismiss-button {
    background-color: #eee;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: none;
    border: 1px solid black;
    box-sizing: border-box;
}

.Dismiss-button:hover {
    cursor: pointer;
    background-color: #dd4f4f;
    color: white;
}

.closedModal {
    animation: closeModal 1s forwards;
}

.openModal {
    animation: openModal 0.5s forwards;
}

.slide-appear-enter-active {
    animation: openModal 0.5s forwards;
}

.slide-appear-exit-active {
    animation: closeModal 1s forwards;
}

@keyframes openModal {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 0.7;
        transform: translateY(80%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes closeModal {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
        transform: translateY(80%);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}
